/* WHOLE WEB */
html {
  font-family: Arial, Helvetica, sans-serif;
}
a {
  text-decoration: none;
  color: black;
}
body {
  margin: 0;
}
.active {
  text-decoration: underline;
}

.breadcrumbs {
  padding: 15px;
}

/* HOME-desktop */

/* header */
.free-shipping {
  text-align: center;
  background-color: #f3ca00;
  font-weight: bold;
  padding-top: 1px;
  padding-bottom: 1px;
}
.home-header,
.about-header,
.about-section-two,
.about-section-three,
.about-section-four {
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
  width: 100%;
  min-height: 70vh;
}
.home-header {
  background-image: url(/images/home/home-header.jpg);
}
.contact-header {
  background-image: url(../images/home/home-header.jpg);
}
.about-header {
  background-image: url(../images/about/about-boat.jpg);
  background-position-y: top;
  background-position-x: left;
  height: 100%;
}
.about-section-two {
  background-image: url(../images/about/about-guy.jpg);
  background-position-y: top;
  height: 100%;
}
.about-section-three {
  background-image: url(../images/about/about-lady.jpg);
  background-position-y: top;
  height: 100%;
}
.about-section-four {
  background-image: url(../images/about/about-soil.jpg);
  height: 100%;
}

.header-text h1,
.header-text p {
  color: #fff;
}

.header-text h1 {
  font-weight: bold;
}
.cta {
  background: #0a3641;
  color: #fff;
  font-size: 1.5rem;
  padding: 10px 30px 10px 30px;
  border-radius: 5px;
}
.cta-contact {
  text-transform: uppercase;
  padding: 5px 40px 5px 40px;
  font-size: 1rem;
}

/* women */

.clothing-category {
  background-color: #0a3641;
}
.product-container {
  display: inline-block;
}
.category {
  display: inline-block;
  padding: 15px 70px 15px 70px;
}

.category a {
  color: #fff;
}
.product {
  width: 100px;
}
.circle {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: yellow;
}

/* Nav Bar */
nav {
  display: inline-block;
}
nav li {
  display: inline-block;
}

.nav a {
  color: #fff;
}

/* MAIN */

.pages-links a {
  color: #fff;
  font-weight: bold;
}
.pages-links {
  border-radius: 10px;
  background-size: cover;
  display: inline-block;
}

.women-link {
  background-image: url(/images/home/home-women.jpg);
}
.men-link {
  background-image: url(/images/home/home-men.jpg);
}
.kids-link {
  background-image: url(/images/home/home-kids.jpg);
}
.accessory-link {
  background-image: url(/images/home/home-accessory.jpg);
}
.gear-link {
  background-image: url(/images/home/home-gear.jpg);
}

/* first and second section */
.home-first-section-pic img,
.home-second-section-pic img {
  width: 800px;
}
.home-first-section-pic img {
  float: right;
}

.home-second-text {
  clear: both;
  float: right;
}

/* FOOTER */
.footer-section {
  background-color: #05272f;
}
.footer-links p {
  font-weight: bold;
}
.footer-links a,
.footer-links p,
.footer-email p {
  color: #fff;
  text-transform: uppercase;
}
.footer-links li {
  list-style: none;
}

.footer-links p,
.footer-links ul {
  margin: 0px;
  padding: 0px;
}

.footer-icons,
.footer-links,
.footer-email {
  display: inline-block;
}
.footer-email input {
  border-radius: 5px 0px 0px 5px;
  color: #1b94b2;
  border: none;
  width: 230px;
  height: 35px;
}
.footer-right-arrow {
  background-color: #1b94b2;
  border-radius: 0px 5px 5px 0px;
  width: 40px;
  height: 35px;
}
.copyright p {
  text-align: center;
}
