/* global */
html {
  font-family: Arial, Helvetica, sans-serif;
}
body {
  margin: 0;
}
a {
  text-decoration: none;
  color: black;
}
.active {
  text-decoration: underline;
}

.button-design a {
  background-color: rgba(10, 54, 65, 1);
  padding: 10px 30px;
  border-radius: 5px;
  color: #fff;
}

.breadcrumbs {
  padding: 20px 0 0px 20px;
}
