header {
  background-image: url(/images/jacket:payment/jacket:payment-header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.breadcrumbs {
  position: relative;
}

.filter-button {
  display: inline-block;
  position: absolute;
  right: 25px;
}
