.filter-button {
  display: none;
}

.product {
  display: flex;
  flex-direction: column;
  margin: 20px 5%;
}

.container-showcase-pictures {
  max-width: 350px;
  align-self: center;
}

.container-showcase-pictures img {
  width: 100%;
}

.container-showcase-text {
  margin-bottom: 30px;
  align-self: center;
  width: 350px;
}

.container-showcase-text h1 {
  font-size: 1.3em;
  text-transform: uppercase;
}

.container-showcase-text p {
  font-size: 1.2em;
}

.container-showcase-text h2 {
  font-size: 1em;
}

.container-showcase-text select {
  height: 30px;
  width: 150px;
  border-radius: 5px;
}

.sizechart {
  text-decoration: underline;
  cursor: pointer;
}

.sizechart p {
  font-size: 15px;
  font-weight: bolder;
}

.button-add-to-cart-position {
  display: flex;
  justify-content: center;
  margin: 35px 0px;
}

.button-add-to-cart-position a {
  padding: 10px 70px;
}

.container-description-with-arrow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #1a1a1a;
  cursor: pointer;
}

.container-description-with-arrow i {
  margin: 20px 0;
  cursor: pointer;
}

.product-details-top-border {
  border-top: 1px solid #1a1a1a;
}
