header {
  background-image: url(/images/women/women-oldlady.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  max-height: 75vh;
  position: relative;
}

.filter-button a {
  background-color: #f3ca00;
  color: #05272f;
}

.container-filter-button {
  min-height: 300px;
}

.filter-button {
  position: absolute;
  left: 45%;
  bottom: 30px;
}

.container-kinds {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #0a3641;
  margin-top: 15px;
  border-bottom: 1px solid #fff;
}

.container-kinds div {
  padding: 15px 140px;
  border-bottom: 1px solid #fff;
}

.container-kinds .top {
  padding: 15px 151px;
}

.container-kinds .accessory {
  padding: 15px 129px;
}

.container-kinds .backpack {
  padding: 15px 131px;
}

.container-kinds .underwear {
  border-bottom: none;
}

.container-kinds a {
  color: #fff;
}

.recommendations {
  padding: 20px 5% 20px 10%;
}

.recommendations h1 {
  font-size: 1.7em;
  font-weight: lighter;
}

.recommendations h2 {
  font-size: 20px;
  min-height: 50px;
  margin-bottom: 0;
  font-weight: bolder;
}

.recommendations p {
  font-size: 16px;
  font-weight: bolder;
  margin-top: 0;
}

.container-recomendations-wrapper {
  display: flex;
  justify-content: space-evenly;
}

/* fix width to 100% when Oskar resize the photos */
.container-recomendations-wrapper img {
  height: 250px;
}

.container-recomendations-block-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.container-recomendations-block-column {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.container-recomendations-block {
  min-width: 180px;
  min-height: 390px;
}

.circle {
  cursor: pointer;
  padding: 5px;
  border-radius: 50%;
  border: 1px solid black;
  height: 5px;
  width: 5px;

  display: inline-block;
}

.circle-black {
  background-color: #000;
}

.circle-red {
  background-color: rgb(182, 17, 17);
}

.circle-white {
  background-color: #fff;
}

.circle-yellow {
  background-color: rgb(244, 209, 12);
}
