header {
  background-image: url(/images/women/women-oldlady.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  max-height: 75vh;
  position: relative;
}

.filter-button a {
  background-color: #f3ca00;
  color: #05272f;
}

.container-filter-button {
  min-height: 300px;
}

.filter-button {
  position: absolute;
  left: 45%;
  bottom: 30px;
}
