header {
  /* background-image: url(/images/jacket:payment/jacket:payment-header.jpg); */
  background-image: url(/images/women/rainbowjackets.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  max-height: 75vh;
  position: relative;
}

main {
  background-image: url(/images/women/women-oldlady.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 75vh;
  position: relative;
}

.breadcrumbs,
.breadcrumbs a {
  color: white;
}

.active {
  color: rgb(206, 206, 206) !important;
}
