header {
  background-image: url(/images/contact/contact-header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

* {
  box-sizing: border-box;
}

main {
  min-height: 60vh;
}

body {
  background: #ebebeb;
}

.container-form {
  padding: 30px;
  background: white;
  border-radius: 15px;
  margin-bottom: 20px;
  max-width: 760px;
  margin: 0 auto;
}

.container-contact-text {
  margin: 10px;
}

.container-contact-text h1 {
  text-align: center;
  font-size: 2em;
  font-weight: lighter;
  margin-top: 0;
}

.container-contact-text h2 {
  font-weight: lighter;
  font-size: 1.5em;
}

.container-contact-text p {
  font-size: 1em;
}

.required {
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 0.8em;
}

.container-contact-form {
  margin: 0 20px;
  padding-bottom: 20px;
}

.container-label-input {
  margin-bottom: 20px;
}

.container-label-input input {
  margin-top: 3px;
  margin-bottom: 5px;
  padding: 10px;
  font-size: 16px;
  width: 100%;
  border-radius: 8px;
  border: 1px solid grey;
}

.container-label-input textarea {
  margin-top: 3px;
  margin-bottom: 5px;
  padding: 10px;
  font-size: 16px;
  height: 100px;
  width: 100%;
  border-radius: 8px;
  border: 1px solid grey;
}

.contact-message::-webkit-input-placeholder {
  font-family: "myFont", Arial, Helvetica, sans-serif;
}

.contact-message:-ms-input-placeholder {
  font-family: "myFont", Arial, Helvetica, sans-serif;
}

.contact-message:-moz-placeholder {
  font-family: "myFont", Arial, Helvetica, sans-serif;
}

.contact-message::-moz-placeholder {
  font-family: "myFont", Arial, Helvetica, sans-serif;
}

.contact-button {
  display: flex;
  justify-content: flex-end;
}

#message {
  background-color: rgb(21, 99, 118);
  padding: 20px;
  margin: 10px;
  color: white;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.formError {
  color: red;
  font-size: 15px;
}

.formError p {
  margin-top: 0px;
  margin-bottom: 25px;
}

.submitButton {
  background-color: rgba(10, 54, 65, 1);
  border: none;
  color: #fff;
  cursor: pointer;
  width: 150px;
  padding: 12px;
  color: white;
  margin-top: 8px;
  cursor: pointer;
  border-radius: 7px;
  font-size: 16px;
}
