.header-text h1,
.header-text p,
.button a {
  color: #fff;
  margin-left: 5%;
}

.header-slogan {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 20px;
}
.button {
  text-align: center;
}
