@media screen and (min-width: 800px) {
  .phone {
    display: none !important;
  }

  .desktop {
    display: inline-block;
  }

  .button {
    text-align: left;
  }

  /* nav bar */
  .container-nav {
    margin-right: 20px;
  }

  .container-hamburger-dropdown-list {
    background-color: rgba(0, 0, 0, 0);
  }

  .container-hamburger-dropdown-list div {
    border-bottom: rgba(0, 0, 0, 0);
  }

  .container-hamburger-dropdown-list a {
    color: rgba(0, 0, 0, 0);
    cursor: default;
    pointer-events: none;
  }
  /* HOME PAGE */

  /* main show case */
  .home-first-section-pic img,
  .home-second-section-pic img {
    max-width: 1000px;
    width: 100%;
  }

  .container-first-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
  }

  .home-first-text,
  .home-second-text {
    align-self: center;

    margin: 0 5%;
  }

  .container-second-text {
    display: flex;
    flex-direction: row;
    text-align: left;

    margin-bottom: 0;
  }

  .shop-the-look {
    text-align: center;
  }

  /* specific product */
  .product {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .container-showcase-pictures {
    width: 600px;
  }

  .container-showcase-text {
    margin-left: 20px;
  }
  /* shopping cart */

  .container-item h2 {
    font-size: 1.5em;
  }

  .container-button-hint {
    margin-right: 20px;
  }

  /* information page */

  .left-and-right {
    /* display: grid;
    grid-template-columns: 6fr 6fr;
    grid-gap: 20px; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .right {
    background-color: rgb(244, 244, 244);
    padding-left: 10px;
    padding-right: 20px;
    border-radius: 10px;
  }

  .sub-cart-item {
    /* display: flex;
    flex-direction: row;*/
    /* justify-content: space-between; */
    /* display: grid;
    grid-template-columns: 4fr 4fr 4fr; */
    /* border: 1px solid blue; */
    width: 330px;
  }

  /* .left-and-right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .left {
    width: 40%;
  }

  .right {
    width: 60%;
  } */

  /* .sub-cart-wrapper {
    justify-content: flex-start;
  }
*/

  /* complete page */
  .container-order-track-small p {
    font-size: 1.3em;
  }
}
