@media screen and (min-width: 800px) {
  .phone {
    display: none !important;
  }

  .desktop {
    display: inline-block;
  }

  .button {
    text-align: left;
  }

  /* nav bar */
  .container-nav {
    margin-right: 20px;
  }

  .container-hamburger-dropdown-list {
    background-color: rgba(0, 0, 0, 0);
  }

  .container-hamburger-dropdown-list div {
    border-bottom: rgba(0, 0, 0, 0);
  }

  .container-hamburger-dropdown-list a {
    color: rgba(0, 0, 0, 0);
    cursor: default;
    pointer-events: none;
  }
  /* category */
  .accessory,
  .gear {
    display: flex;
  }
}
