@media screen and (min-width: 600px) {
  /* shopping cart page */
  .cart-wrapper {
    display: flex;
    justify-content: center;
  }

  .cart-item {
    width: 520px;
    padding: 15px;
  }

  .quantity-price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .cart-summary {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
  }

  /* Information page */

  .sub-cart-wrapper {
    width: 300px;
    padding-right: 40px;
    margin: 0px;
    display: contents;
    /* border: 1px solid green; */
  }

  .sub-cart-summary {
    display: block;
    text-align: right;
  }

  /* information page */

  .container-form-inputs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 0px;
  }
  /* complete page */
  .container-order-track-small p {
    font-size: 1em;
  }

  .container-name h2 {
    font-size: 1.5em;
  }

  .container-name p {
    font-size: 1em;
  }
}
