@media screen and (min-width: 600px) {
  /* category */
  .kids {
    display: flex;
  }

  /* women page */
  .container-kinds {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .container-kinds div {
    padding: 20px;
    border: none;
  }

  .container-kinds .top {
    padding: 20px;
  }

  .container-kinds .accessory {
    padding: 20px;
  }

  .container-kinds .backpack {
    padding: 20px;
  }
}
