@media screen and (min-width: 600px) {
  /* category */
  .kids {
    display: flex;
  }

  /* women page */
  .container-kinds {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .container-kinds div {
    padding: 20px;
    border: none;
  }

  .container-kinds .top {
    padding: 20px;
  }

  .container-kinds .accessory {
    padding: 20px;
  }

  .container-kinds .backpack {
    padding: 20px;
  }

  /* complete page */
  .container-order-track-small p {
    font-size: 1em;
  }

  .container-name h2 {
    font-size: 1.5em;
  }

  .container-name p {
    font-size: 1em;
  }

  /* information page */

  .container-form-inputs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 0px;
  }
}
