/* footer navigation 
  MOVE TO 1000 !!!*/
@media screen and (min-width: 1000px) {
  /* footer */
  .footer-nav {
    text-align: left;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
  }
  .footer-nav form {
    margin: 15px 0;

    min-width: 300px;
  }
  .container-footer-logo-links {
    display: flex;
    flex-direction: row;
    align-self: center;
  }
  .footer-logo {
    align-self: center;
  }
  .container-footer-links-section {
    padding-left: 20px;
  }
  .container-footer-links {
    margin-left: 20px;
  }
  .container-social i {
    display: inline-flex;
  }
  /* checkout success pages */

  .container-block-flex-row {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
  }

  .container-block-item {
    background-color: #fafafa;
    padding: 20px;
    border: 1px solid #d6d5d5;
    margin-left: 30px;
  }

  .container-block-form {
    width: 430px;
  }

  .container-form-inputs {
    display: flex;
    flex-direction: column;
  }

  /* summary block */
  .container-block-summary {
    margin-top: 0px;
    width: 430px;
  }
}
