.container-kinds {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #0a3641;
  border-bottom: 1px solid #fff;
}

.container-kinds div {
  padding: 15px 140px;
  border-bottom: 1px solid #fff;
}

.container-kinds .top {
  padding: 15px 151px;
}

.container-kinds .accessory {
  padding: 15px 129px;
}

.container-kinds .backpack {
  padding: 15px 131px;
}

.container-kinds .underwear {
  border-bottom: none;
}

.container-kinds a {
  color: #fff;
}
