.category {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  column-gap: 20px;
  overflow-x: auto;
  justify-items: center;
  margin-left: 15px;
  margin-right: 15px;
}
.category div {
  margin-top: 30px;
  width: 150px;
  height: 150px;
  background-position: center center;
  border-radius: 10px;
  background-size: cover;
}

.category-links a {
  color: #fff;
  padding-top: 45%;
  text-transform: uppercase;
  width: 160px;
  text-align: center;
  letter-spacing: 2px;
  font-size: 1.1em;
  text-shadow: 2px 2px 15px #000;
}

.category-links a:hover {
  text-shadow: 2px 2px 15px rgb(255, 255, 255);
}

.women {
  background-image: url(/images/home/home-women.jpg);
  display: flex;
}

.men {
  background-image: url(/images/home/home-men.jpg);
  display: flex;
}

.kids {
  background-image: url(/images/home/home-kids.jpg);
  display: flex;
}

.accessory {
  background-image: url(/images/home/home-accessory.jpg);
  display: flex;
}

.gear {
  background-image: url(/images/home/home-gear.jpg);
  display: flex;
}
