main {
  margin: 10px 10% 30px 10%;
}

.section-text h1 {
  text-align: center;
  font-weight: lighter;
  font-size: 2em;
}

.container-order-track {
  display: flex;
  justify-content: space-evenly;
}

.container-order-track-small {
  display: flex;
  justify-content: space-around;
  width: 250px;
}

.container-order-track-small div:nth-child(1) {
  margin-right: 10px;
}

.container-order-track-small div:nth-child(2) {
  color: #177c95;
  text-decoration: underline;
  cursor: pointer;
}

.container-order-track-small p {
  font-size: 14px;
}

/* billing address, shipping address */
.container-address-section {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.container-address-block {
  display: flex;
  justify-content: space-between;
  background-color: #fafafa;
  border: 1px solid #919191;
  border-radius: 5px;
  width: 415px;
}

.container-address-block div:nth-child(1) {
  border-right: 1px solid #919191;
  padding-left: 15px;
  padding-right: 15px;
}

.container-address-block div:nth-child(2) {
  padding-left: 15px;
  padding-right: 15px;
}

.container-address-block div h3 {
  margin-bottom: 5px;
}
