main {
  margin: 5%;
  margin-top: 0;
}

.summary-line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.summary-line p {
  margin-right: 5px;
}

.summary-line p:nth-child(1) {
  color: #6c6c6c;
}

.summary-line p:last-child {
  color: black;
}

.method {
  margin: 0;
}
